* {
    margin: 0;
    padding: 0;
}

html {
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    cursor: default;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    scrollbar-width: none;
    -ms-overflow-style: none;
    overscroll-behavior: none;
}

html::-webkit-scrollbar {
    display: none;
}

button {
    all: unset;
}

:root {
    --size-unit: 16;
    --size-container-ideal: 1920;
    --size-container-min: 992px;
    --size-container-max: 2560px;
    --size-container: clamp(var(--size-container-min),
            100vw,
            var(--size-container-max));
    --size-font: calc(var(--size-container) / (var(--size-container-ideal) / var(--size-unit)));

    --s-2: 0.125em;
    /* 2px */
    --s-4: 0.25em;
    /* 4px */
    --s-8: 0.5em;
    /* 8px */
    --s-12: 0.75em;
    /* 12px */
    --s-16: 1em;
    /* 16px */
    --s-24: 1.5em;
    /* 24px */
    --s-32: 2em;
    /* 32px */
    --s-40: 2.5em;
    /* 40px */
    --s-48: 3em;
    /* 48px */
    --s-64: 4em;
    /* 64px */
    --s-80: 5em;
    /* 80px */
    --s-96: 6em;
    /* 96px */
    --s-128: 8em;
    /* 128px */

    --white: #ffffff;
    --black: #000000;
}

/* Tablet */
@media screen and (max-width: 991px) {
    :root {
        --size-container-ideal: 834;
        --size-container-min: 768px;
        --size-container-max: 991px;
    }
}

/* Mobile Landscape */
@media screen and (max-width: 767px) {
    :root {
        --size-container-ideal: 390;
        --size-container-min: 480px;
        --size-container-max: 767px;
    }
}

/* Mobile Portrait */
@media screen and (max-width: 479px) {
    :root {
        --size-container-ideal: 390;
        --size-container-min: 320px;
        --size-container-max: 479px;
    }
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    z-index: -1;
}

/* === Base === */

body {
    font-family: system-ui, -apple-system, sans-serif;
    font-size: var(--size-font);
    color: var(--black);
    background: var(--white);
    position: relative;
    scrollbar-width: none;
    isolation: isolate;
}

span.line {
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

span.word-inner {
    display: inline-block;
    white-space: nowrap;
    will-change: transform;
}

span.line-inner {
    display: inline-block;
    white-space: nowrap;
    transform: translateY(150%);
    transition: transform 1s ease;
    will-change: transform;
}

span.line {
    display: block;
}

span.line-inner.on {
    transform: translateY(0%);
}