#home-wrapper {
  padding-left: calc(var(--vw) * 188);
  display: flex;
  align-items: center;
  height: 100vh;

  h1 {
    font-size: calc(var(--vw) * 256);
    font-weight: 400;
    line-height: 0.8;

    span:last-child {
      padding-left: calc(var(--vw) * 20);
    }
  }
}

nav {
  position: fixed;
  padding: calc(var(--vw) * 32);
  z-index: 10;
  right: 0;
  display: flex;
  gap: calc(var(--vw) * 32);
}

.paragraph {
  margin-top: calc(var(--vw) * 112);
  margin-left: calc(var(--vw) * 128);
  width: calc(var(--vw) * 294);
}

p {
  font-family: "nmr";
  font-size: calc(var(--vw) * 24);
}

.progress-bar {
  transition: transform 0.4s var(--in-out-4);
}
